<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Solmics V3</title>
    <link rel="stylesheet" type="text/css" href="css/style.bundle.css" />
    <link rel="shortcut icon" href="favicon/favicon.ico" />
</head>
<body>
	<div id="notify-block"></div>
	<header>
		<div class="logo">
			<div><img src="img/mc_logo_top.png" alt=""></div>
		</div>
	</header>
	<div class="content_wrapper">
		<div class="container">
			<div class="menu">
				<div class="menu_list menu_active" data-module="main">ГЛАВНАЯ</div>
				<div class="menu_list" data-module="wiki">БАЗА ЗНАНИЙ</div>
				<div class="menu_list" data-module="rules">ПРАВИЛА</div>
				<div class="menu_list" data-module="servers">СЕРВЕРА</div>
				<div class="menu_list" data-module="shop">МАГАЗИН</div>
			</div>
			<div class="content">
				<div class="center_content" id="app">
				</div>
				<div class="sidebar_content">
					<div class="user_block" id="app_sidebar"></div>
				</div>
			</div>
			<div class="footer">
				<div class="ft1">
					<div class="sname">Solmics</div>
					<div class="sop">
						<p>© <b>2019</b> Комплекс игровых серверов Minecraft <b>Solmics</b></p>
						<p>Копирование информации без разрешения администрации запрещено.</p>
						<p>Все права на игру принадлежат <b>Mojang AB</b>.</p>
						<p>Приобрести игру можно на <b>официальном сайте</b>.</p>
					</div>
				</div>
				<div class="ft2">
					<div class="banner unitpay"></div>
					<div class="banner webmoney"></div>
				</div>
			</div>
		</div>
	</div>
    <script src="js/bundle.js"></script>
</body>
</html>